div h2 {
  text-align: center;
  font-size: xx-large;
}
div .company {
  text-align: center;
  font-size: xx-large;
  font-style: italic;
  color: #fff;
  background-image: linear-gradient(rgb(19, 119, 15), rgb(9, 177, 255));
}
